* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d4a373;

}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60vw;
    height: auto;
    background-color: #faedcd;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: none;
    border-radius: 10px;
}
.head{
    margin-top: 20px;
}
#height,#weight{
    height: 2rem;
    border-style: none;
    border-radius: 5px;
    width: 12rem;
}

@media (max-width:600px) {
    h1 {
        font-size: 25px;
        font-weight: 200px;
    }

    .card {
        height: 60vh;
        width: 88%;
    
    }
    .bmi{
        text-align: center;
    }

}

.btn {
    height: 30px;
    width: 8rem;
    background-color:  #c4b389;
    font-size: medium;
    border-radius: 5px;
    border-style: none;
    margin: 10px;
}
.btn:hover{
    background-color: #cabb95;
}
.hidden-card{
    width: 60%;
    min-width:300px ;
    max-width: 700px;
    height: 55vh;
    background-color: #faedcd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     gap: 1.5rem;
     border-radius: 5px;
}
.bm,.cate{
    text-align: center;
}
.hide{
    display:none;
}